.row {
    background-color: lightblue;
    transition: background-color 0.3s ease;
}

.row:focus {
    background-color: lightcyan;
    color: black;
    font-weight: bolder;
}

.row:focus:hover {
    background-color: lightcyan;
}

.row:hover {
    background-color: lightcyan;
}

.cell {
    padding: 0.6rem;
    font-weight: bold; 
}

.card {
    border: 2px solid lightblue;
    border-radius: 8px; 
    background-color: lightskyblue; 
    z-index: 1000;
}

.dataTableContainer {
    border: 1px solid lightblue; 
    border-radius: 5px; 
    overflow: hidden; 
}
